
 #container{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    /* border:1px solid black; */
    max-width:960px;
    max-height:960px;
} 
.subContainer > div{
   padding:12px;
   transition-duration:1s;
   border:1px solid purple;
}
.subContainer{
   display:grid;
   grid-template-columns: repeat(8,1fr);
   /* max-width:400px;
   max-height:400px; */
   align-self:stretch;
   background:black;
}

